<app-nav-bar backto="/recipes"></app-nav-bar>

<div class="card">
  <img src="https://static.750g.com/images/622-auto/3ace231e79e8147c6412e3b7acef93f0/pates-au-pesto-de-basilic.jpg">

  <p class="title"> Pâtes au pesto</p>

  <div class="grid-container">
    <div class="stat-type">Préparation</div>
    <div class="stat-figure">20 min</div>
  </div>

  <div class="grid-container">
    <div class="stat-type">Cuisson</div>
    <div class="stat-figure">10 min</div>
  </div>

  <button class="pesto-btn">Ajouter aux favoris</button>

</div>

<div class="card">
  <p class="title centered">Ingrédients</p>

  <div class="grid-container">
    <div class="stat-type">Spaghetti</div>
    <div class="stat-figure">400g</div>
  </div>

  <div class="grid-container">
    <div class="stat-type">Basilic</div>
    <div class="stat-figure">50g</div>
  </div>

  <div class="grid-container">
    <div class="stat-type">Gousses d'ail</div>
    <div class="stat-figure">x2</div>
  </div>

  <div class="grid-container">
    <div class="stat-type">Pignons de pin</div>
    <div class="stat-figure">100g</div>
  </div>

  <button class="pesto-btn">Écouter</button>
</div>


<p class="title centered">Étapes</p>

<div class="steps">

  <div class="step-container" [routerLink]="['/step', '1']">
    <div class="step-number"><span class="green">1 </span></div>
    <div class="step-desc"> Faire cuire les pâtes al dente.</div>
  </div>

  <div class="step-container" [routerLink]="['/step', '2']">
    <div class="step-number"><span class="green">2 </span></div>
    <div class="step-desc"> Dans un mortier, pilez le basilic avec l'ail et les pignons jusqu'à obtention d'une crème
      lisse. </div>
  </div>

  <div class="step-container" [routerLink]="['/step', '3']">
    <div class="step-number"><span class="green">3 </span></div>
    <div class="step-desc"> Mettez la préparation dans un bol, puis ajouter l'huile peu à peu en fouettant. </div>
  </div>

  <div class="step-container" [routerLink]="['/step', '4']">
    <div class="step-number"><span class="green">4 </span></div>
    <div class="step-desc"> Rajoutez les fromages râpés, assaisonner et mélangez. </div>
  </div>

  <div class="step-container" [routerLink]="['/step', '5']">
    <div class="step-number"><span class="green">5 </span></div>
    <div class="step-desc"> Egouttez les pâtes, mélangez-les au pesto et servez. </div>
  </div>
</div>

<button class="pesto-btn">Voir sur Marmiton</button>
