.card {

  border-radius: 1px;

  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;

  /* width: 367px;
  height: 480px; */
  width: 90%;

  box-shadow: 6px 8px 15px 0px #cccccc;

  background-color: #fafafa;

  padding-top: 10px;
  padding-bottom: 20px;
}

.card img {
  /* width: 345px;
  height: 173px; */
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.title{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
}

.centered{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 12fr 5fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "stat-type stat-figure";
}

.stat-type { grid-area: stat-type;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  color: #464646;
}
.stat-figure { grid-area: stat-figure;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  color: #383838;
  font-style: italic;

  text-align: right;
}

.pesto-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  padding: 0.2em;

  color: #006622;
  background-color: #00000000;
  border: solid #006622 4px;

  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;

  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;

  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.3em;
  /* margin: 30px 0px 0px 0px; */

  /* width: 339px;
  height: 75px; */
  width: auto;
  height: auto;

}

.pesto-btn:hover {
  background: #006622;
  text-decoration: none;

  color: #FFFFFF;
}

.steps {
  margin: 15px;
}

.step-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "step-number step-desc";

  margin: 20px 0px;
}

.step-number { grid-area: step-number;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;

  cursor: pointer;
}

span.green {
  background: #006622;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}



.step-desc { grid-area: step-desc;

  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  color: #006622;

  cursor: pointer;
}
