.card {
  border: solid #006622 4px;

  border-radius: 3px;

  margin-left: auto;
  margin-right: auto;
  padding: 0.17em;

  /*width: 367px;
  height: 239px;*/

  width: 80%;

  box-shadow: 6px 8px 15px 0px #AFAFAF;
}

.card:hover {
  cursor: pointer;
}

.card img {
  /* width: 345px;
  height: 173px; */
  width: 98%;
  height: 98%;

}

.title{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
}
