<app-nav-bar backto="/recipe"></app-nav-bar>


<div class="digit-container">


  <div class="left-digit" (click)="backward()" *ngIf="currentStep > 1">
    <span class="green">{{currentStep - 1}}</span>
  </div>

  <div class="mid-digit">
    <span class="black">{{currentStep}}</span>
  </div>
  <div class="right-digit" (click)="forward()" *ngIf="currentStep < stepDescs.length - 1">
    <span class="green">{{currentStep + 1}}</span>
  </div>
</div>

<div class="step-desc">

  {{stepDescs[currentStep]}}

</div>
<button class="pesto-btn">Écouter</button>
