.digit-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "left-digit mid-digit right-digit";

  margin: 100px 0px 0px 0px;
  padding: 0px 20px;
}

.left-digit { grid-area: left-digit;
  text-align: center;

  font-family: Roboto;
  font-size: 35px;
  font-weight: 500;

  margin-top: 10px;

  cursor: pointer;
}

.mid-digit { grid-area: mid-digit;
  text-align: center;

  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;

  cursor: pointer;
}

.right-digit { grid-area: right-digit;
  text-align: center;

  font-family: Roboto;
  font-size: 35px;
  font-weight: 500;

  margin-top: 10px;

  cursor: pointer;
}

span.green {
  background: #006622;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}

span.black {
  border-radius: 0.8em;
  border-width: 0.3em;
  color: black;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;

  border: solid #000;
  border-width: 4px;
}


.step-desc{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20%;
}

.pesto-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  padding: 0.2em;

  color: #006622;
  background-color: #00000000;
  border: solid #006622 4px;

  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;

  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;

  margin-right: auto;
  margin-left: auto;

  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 80%;
  height: auto;
}

.pesto-btn:hover {
  background: #006622;
  text-decoration: none;

  color: #FFFFFF;
}
