.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "back home help";
}

.back { grid-area: back;
  text-align: center;
}

.home { grid-area: home;
  text-align: center;
}

.help { grid-area: help;
  text-align: center;
}

.arrow-icon {
  width: 48px;
  display: block;
  margin: auto;
  cursor: pointer;

}

.home-icon {
  width: 45px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.help-icon {
  width: 37.5px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.icon-desc {
  font-size: 20;
  font-family: roboto;
}
