<div class="grid-container">
  <div class="back">

    <div class="arrow-icon" routerLink="{{backto}}">
      <svg class="arrow-icon" viewBox="3 1 48 49">
        <path id="Trac_87" d="M 51.66665267944336 18.77778625488281 L 13.35518264770508 18.77778625488281 L 23.03443717956543 9.603334426879883 L 19.22221755981445 6 L 2.999999761581421 21.33334350585938 L 19.22221755981445 36.66668701171875 L 23.03443717956543 33.06335067749023 L 13.35518264770508 23.88890075683594 L 51.66665267944336 23.88890075683594 L 51.66665267944336 18.77778625488281 Z">
        </path>
      </svg>
    </div>

    <span class="icon-desc">RETOUR</span>
  </div>
  <div class="home" routerLink="/home">

    <div class="home-icon" >

      <svg viewBox="2 3 48 48">
        <path id="Trac_80" d="M 20.24628829956055 45.71635437011719 L 20.24628829956055 30.63999557495117 L 29.36943054199219 30.63999557495117 L 29.36943054199219 45.71635437011719 L 40.77336120605469 45.71635437011719 L 40.77336120605469 25.61454010009766 L 47.61571884155273 25.61454010009766 L 24.80785942077637 3 L 2 25.61454010009766 L 8.842358589172363 25.61454010009766 L 8.842358589172363 45.71635437011719 L 20.24628829956055 45.71635437011719 Z">
        </path>
      </svg>
    </div>

    <span class="icon-desc">ACCUEIL</span>
  </div>
  <div class="help-icon">

    <div class="help-icon" >
      <svg class="Trac_81" viewBox="3 3 37.499 45">
        <path id="Trac_81" d="M 36.33276748657227 3 L 7.166595458984375 3 C 4.874968528747559 3 3 4.874969005584717 3 7.166595458984375 L 3 36.33276748657227 C 3 38.62439727783203 4.874968528747559 40.49936294555664 7.166595458984375 40.49936294555664 L 36.33276748657227 40.49936294555664 C 38.62439727783203 40.49936294555664 40.49936294555664 38.62439727783203 40.49936294555664 36.33276748657227 L 40.49936294555664 7.166595458984375 C 40.49936294555664 4.874969005584717 38.62439727783203 3 36.33276748657227 3 Z M 21.77051162719727 34.24946975708008 C 20.31220245361328 34.24946975708008 19.14555740356445 33.08282470703125 19.14555740356445 31.6245174407959 C 19.14555740356445 30.14537811279297 20.31220245361328 29.0203914642334 21.77051162719727 29.0203914642334 C 23.24965476989746 29.0203914642334 24.3746337890625 30.14537811279297 24.3746337890625 31.6245174407959 C 24.35380172729492 33.06198883056641 23.24965476989746 34.24946975708008 21.77051162719727 34.24946975708008 Z M 28.04124069213867 18.83306503295898 C 26.45793342590332 21.1455249786377 24.95796203613281 21.87467956542969 24.14547157287598 23.35381889343262 C 23.8121452331543 23.95797729492188 23.68714714050293 24.35380172729492 23.68714714050293 26.2912712097168 L 19.89554786682129 26.2912712097168 C 19.89554786682129 25.27045440673828 19.72887992858887 23.60381698608398 20.54136848449707 22.16633987426758 C 21.56218338012695 20.35387229919434 23.4996509552002 19.27055549621582 24.62463188171387 17.66641807556152 C 25.81211090087891 15.97894477844238 25.14545631408691 12.81233406066895 21.7705135345459 12.81233406066895 C 19.56221771240234 12.81233406066895 18.47890472412109 14.47897338867188 18.02058029174805 15.8956127166748 L 14.58313465118408 14.43730354309082 C 15.5206184387207 11.64568614959717 18.04140853881836 9.249893188476563 21.72884559631348 9.249893188476563 C 24.81212425231934 9.249893188476563 26.91625785827637 10.64570236206055 27.99957656860352 12.41650581359863 C 28.91622543334961 13.91647911071777 29.4578857421875 16.72893142700195 28.04124069213867 18.83306503295898 Z">
        </path>
      </svg>
    </div>

    <span class="icon-desc">AIDE</span>
  </div>
</div>
