.text{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;

  text-align: center;
}

.search{
    width: auto;

}

.pesto-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  padding: 0.3em 0.3em;

  margin-bottom: 1.2em;

  color: #006622;
  background-color: #00000000;
  border: solid #006622 4px;

  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;

  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.pesto-btn:hover {
  background: #006622;
  text-decoration: none;

  color: #FFFFFF;
}


.center-container {
  height: 150px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  width: 100%;
  /* padding: 12px 50px; */
  margin: 8px 0;
  box-sizing: border-box;
  font-size:35px;
}
