<app-nav-bar backto="/home"></app-nav-bar>


<p class="text">Tapez l'ingrédient ou le nom de la recette à rechercher</p>


<div class="center-container">
  <div class="center">
    <input class="searchInput" type="search">
  </div>
</div>


<div class="center-container">
  <div class="center">
    <button class="pesto-btn" routerLink="/search">Recherche</button>
  </div>
</div>
