<div class="container">

  <div class="pesto-text">Pesto</div>

  <div class="home-text">Accueil</div>
  <!-- <button mat-button routerLink="/search">Recherche</button> -->

  <div class="home_svg">
    <svg viewBox="2 3 70.338 67.352">
      <path id="Trac_80" d="M 30.13507652282715 70.35178375244141 L 30.13507652282715 46.58056259155273 L 44.20261764526367 46.58056259155273 L 44.20261764526367 70.35178375244141 L 61.78704071044922 70.35178375244141 L 61.78704071044922 38.65682601928711 L 72.33770751953125 38.65682601928711 L 37.16884613037109 3 L 2 38.65682601928711 L 12.55065536499023 38.65682601928711 L 12.55065536499023 70.35178375244141 L 30.13507652282715 70.35178375244141 Z">
      </path>
    </svg>
  </div>


  <div class="homepage-btn-list">
    <button class="pesto-btn" routerLink="/search">Recherche</button>
    <button class="pesto-btn" routerLink="/recipes">Nouveautés</button>
    <button class="pesto-btn" routerLink="/recipes">Mes listes</button>
  </div>
</div>
