.pesto-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  padding: 0.3em 0.3em;

  margin-bottom: 1.2em;

  color: #006622;
  background-color: #00000000;
  border: solid #006622 4px;

  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;

  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.pesto-btn:hover {
  background: #006622;
  text-decoration: none;

  color: #FFFFFF;
}

.homepage-btn-list {
  display: grid;
}

.home_svg {
  width: 80px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.home-text {
  font-family: Roboto;
  font-size: 42px;
  font-weight: 400;

  text-align: center;
}

.pesto-text {
  font-family: Freestyle Script;
  font-size: 120px;
  font-weight: 400;

  text-align: center;
}
